p{
    color: rgb(255, 145, 2) !important;
}
/* !important is more powerful than other specificity */
p{
    color: blanchedalmond;
}
p.para{
    color: red;
}
p#para{
    color: green;
}
/* css math function */
/* calc() using in width */
/* .para{
    background-color: aqua;
    margin: 0 auto;
    width: calc(100% - 200px);
} */

/* max() using in width */
/* .para{
    background-color: aqua;
    margin: 0 auto;
    width: max(70%, 800px);
} */
/* min() using is width */
.para{
    background-color: aqua;
    margin: 0 auto;
    width: min(70%, 800px);
}

