.p1{
    background-color: yellow;
    padding: 10px 5px;
    border: 2px solid black;
    height: 100px;
    width: 90%;
    float: none;
    overflow: scroll;
}
img{
    float: right;
    padding: 10px;
}